In [1]:
import numpy as np
import pandas as pd

In [2]:
from tsfresh import extract_features
from tsfresh.feature_extraction import ComprehensiveFCParameters, MinimalFCParameters
com_setting = ComprehensiveFCParameters()
min_setting = MinimalFCParameters()

In [3]:
def feature_extractor_comprehensive(file):
    df = pd.read_csv(file)
    X = df.drop(['htn', 'dkd', 'gn', 'gender', 'value_egfr_init', 'egfr.y', 'eskd.y', 'age.init', 'death.y', 'cat0.5', 'cat1', 'cat1.5', 'cat2', 'cat2.5', 'cat3', 'cat3.5', 'cat4', 'cat4.5', 'cat5', 'cat5.5', 'cat6', 'cat6.5', 'cat7', 'cat7.5', 'cat8'], axis=1).copy()
    extracted_features = extract_features(X, column_id='id', column_sort='relyear', column_kind='test', column_value='value',
                                          default_fc_parameters=com_setting, n_jobs=14)
    return extracted_features

In [4]:
def feature_extractor_minimal(file):
    df = pd.read_csv(file)
    X = df.drop(['htn', 'dkd', 'gn', 'gender', 'value_egfr_init', 'egfr.y', 'eskd.y', 'age.init', 'death.y', 'cat0.5', 'cat1', 'cat1.5', 'cat2', 'cat2.5', 'cat3', 'cat3.5', 'cat4', 'cat4.5', 'cat5', 'cat5.5', 'cat6', 'cat6.5', 'cat7', 'cat7.5', 'cat8'], axis=1).copy()
    extracted_features = extract_features(X, column_id='id', column_sort='relyear', column_kind='test', column_value='value',
                                          default_fc_parameters=min_setting, n_jobs=14)
    return extracted_features

In [5]:
extracted_features = feature_extractor_comprehensive(file='../data/meta_melted_1half_6.gz')

Feature Extraction: 100%|██████████| 70/70 [16:47<00:00, 14.39s/it]

In [6]:
extracted_features.shape

(4864, 49581)

In [7]:
extracted_features.head()

,urea__variance_larger_than_standard_deviation,urea__has_duplicate_max,urea__has_duplicate_min,urea__has_duplicate,urea__sum_values,urea__abs_energy,urea__mean_abs_change,urea__mean_change,urea__mean_second_derivative_central,urea__median,...,albcreat_ratio__permutation_entropy__dimension_5__tau_1,albcreat_ratio__permutation_entropy__dimension_6__tau_1,albcreat_ratio__permutation_entropy__dimension_7__tau_1,albcreat_ratio__query_similarity_count__query_None__threshold_0.0,"albcreat_ratio__matrix_profile__feature_""min""__threshold_0.98","albcreat_ratio__matrix_profile__feature_""max""__threshold_0.98","albcreat_ratio__matrix_profile__feature_""mean""__threshold_0.98","albcreat_ratio__matrix_profile__feature_""median""__threshold_0.98","albcreat_ratio__matrix_profile__feature_""25""__threshold_0.98","albcreat_ratio__matrix_profile__feature_""75""__threshold_0.98"
3916,1.0,0.0,0.0,0.0,14.7,75.69,1.95,0.75,-1.95,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3918,0.0,1.0,0.0,1.0,18.7,117.37,0.55,-0.55,-0.55,6.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3921,0.0,0.0,0.0,0.0,12.1,73.25,0.30,0.30,NaN,6.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3924,0.0,0.0,0.0,0.0,7.6,29.20,0.80,0.80,NaN,3.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3930,1.0,0.0,0.0,0.0,74.7,815.39,1.55,0.05,0.46,9.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
extracted_features_other = feature_extractor_minimal(file='../data/other_meta_melted_1_4.gz')

Feature Extraction: 100%|██████████| 70/70 [02:25<00:00,  2.07s/it]

In [8]:
extracted_features_other.shape

(5479, 549)

In [10]:
ready_df = pd.concat(objs=[extracted_features, extracted_features_other], axis=1)
ready_df.shape

(5603, 1336)

In [11]:
ready_df.to_csv('../data/egfrcom_elsemin_meta_melted_1_4.gz', index=True, compression='gzip')